.hero-show {
  background-image: url('https://res.cloudinary.com/dvxd5rkn7/image/upload/v1599789400/show_backgound_jdoriz.jpg');
  background-size: cover;
}

.back-btn i {
  color: #54e7a8;
  font-size: 3.5rem;
  padding: 10px;
}
