<div class="banner">
        <div class="banner-content">
          <h1>HEROS"R"US</h1>
          <p>At your service</p>
          <a href="#" class="btn btn-primary">Find a Super Hero</a> 
        </div>
</div>