<div class="banner">
        <div class="banner-content">
          <h1>HEROS"R"US</h1>
          <p>At your service</p>
          <%= link_to "Find a Super Hero", heroes_path, class:"btn btn-primary"  %>
        </div>
</div>