.banner{
    height: 100vh;
    color: white;
    background: linear-gradient(135deg,
                                rgba(0, 0, 0, 0.6) 0%,
                                rgba(0, 0, 0, 0.3) 50%), asset-url('landing.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#banner-typed-text {
  font-size: 1.5rem;
}

.banner-session{
    height: 100%;
    color: white;
    background: linear-gradient(135deg,
                                rgba(0, 0, 0, 0.6) 0%,
                                rgba(0, 0, 0, 0.3) 50%), asset-url('landing.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-dashboard {
    // height: 100%;
    background: linear-gradient(135deg,
                                rgba(0, 0, 0, 0.6) 0%,
                                rgba(0, 0, 0, 0.3) 50%), asset-url('superman.jpg');
    background-size: cover;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
}

.banner-index{
    height: 100%;
    color: white;
    background: linear-gradient(135deg,
                                rgba(0, 0, 0, 0.6) 0%,
                                rgba(0, 0, 0, 0.3) 50%), asset-url('liberty.jpg');
    background-size: cover;
    background-position: center center;
}

.banner-new-hero {
  height: 100%;
    color: white;
    background: linear-gradient(135deg,
                                rgba(0, 0, 0, 0.6) 0%,
                                rgba(0, 0, 0, 0.3) 50%), asset-url('new-hero.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
