.btn-flat-book {
  color: white;
  padding: 6px 24px;
  border-radius: 4px;
  background: #54e7a8;
  transition: color 0.3s ease;
}

.btn-flat-book:hover {
  color: black;
}

#modal-edit-hero {
  i {
    color: #54e7a8;
    font-size: 1.5rem;
  }
}

#edit-hero-modal-trigger {
  position: absolute;
  top: 10px;
  right: 10px;
}
