.card-list {
  a {
    transition: all 0.5s ease-out;
    display: block;
    color: black;
    &:hover {
      text-decoration: none;
      transform: translate(0, -5px);
    }
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.show-card {
  height: 200px;
}

.show-card img {
  width: 30%;
  max-height: 200px;
}

.booking-card {
  height: 40%;
}

.card-product .card-product-infos {
  padding: 16px;
  max-width: 70%;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.price {
  position: absolute;
  right: +5%;
  bottom: 0px;
}

.card-dashboard {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.booking-card {
  height: 120px;
}

.highlight {
  color: #54e7a8;
}

.header {
  color: white;
}

.card-product-reviews {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
