.flatpickr-input {
  background-color: white !important;
}

.flatpickr-months .flatpickr-month {
  background: #54e7a8;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: #54e7a8;
}

.flatpickr-weekdays {
  background: #54e7a8;
}

span.flatpickr-weekday {
  background: #54e7a8;
}
