#map{
  // flex: 0 0 300px; /*3.   Don't grow, don't shrink, take 300px*/
  // height: 100vh;   /*4*/ /*100vh==EXACT HEIGHT OF WINDOW*/   /*STICKY*/   /*1VH == 1%of window height*/
  position: sticky; /*Google Maps's JS is injecting CSS. Override it with !important*/
  top: 0; /*when 0px reached --> stick to top of page*/
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('map-placeholder.png');
  // background-size: cover;
  // background-position: center center;
}

.mapboxgl-popup {
  width: 200px;
  a {
    transition: all 0.5s ease-out;
    display: block;
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

.mapboxgl-popup-content {
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-product-pop-up {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card-product-pop-up img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.card-product-pop-up h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-pop-up p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-content-pop-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 100%;
}
