.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

a {
  color: white;

}

.nav-item {
  color: white;
}